# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/

# Database
*.db
*.sqlite3

# IDE
.idea/
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Runtime uploads
backend/uploads/

cache/
*.py32r
*.jsaas
*.css1121s
